
@font-face {
    font-family: BMWTypeNext;
    src: url("http://localhost:3000/fonts/BMWTypeNextLatin-Regular.otf") format("opentype");
  }
  
  @font-face {
    font-family: BMWTypeNext;
    font-weight: bold;
    src: url("http://localhost:3000/fonts/BMWTypeNextLatin-Bold.otf") format("opentype");
  }
  
  @font-face {
    font-family: BMWTypeNext;
    font-weight: lighter;
    src: url("http://localhost:3000/fonts/BMWTypeNextLatin-Light.otf") format("opentype");
  }
  :root {
    --bmw-text: #494949;
  }

@media print {

    body {
        font-family: Helvetica, sans-serif;
        font-size: 14pt;
        margin: 2em;
        color: var(--bmw-text);
    }

    img {
        width: 8cm;
        height: auto;
        position: absolute;
        top: 1cm;
        right: 1cm;
        float: right;
    }

    .borders {
        margin: 2cm 2cm;
    }

    .personalinfo {
        width: 10cm;
        position: absolute;
        bottom: 2cm;
    }
}