
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --ratgeber-text: #494949;
  }

@media print {

    body {
        font-family: "Ubuntu" Helvetica, sans-serif;
        font-size: 14pt;
        margin: 2em;
        color: var(--ratgeber-text);
    }

    img {
        width: 8cm;
        height: auto;
        position: absolute;
        top: 1cm;
        right: 1cm;
        float: right;
    }

    .borders {
        margin: 2cm 2cm;
    }

    .personalinfo {
        width: 10cm;
        position: absolute;
        bottom: 2cm;
    }
}