@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --max-width: 1630px;
  --ratgeber-titelfarbe: #707070;
  --ratgeber-hellgrau: #D8D8D8;
  --ratgeber-container: #F2F2F2;
  --ratgeber-hover: #5a5a5a;
  --ratgeber-text: #494949;
  --ratgeber-shadow: rgba(0,0,0,0.25);
  --ratgeber-button: #6F6F6F;
}

body {
  margin: 0;
  box-sizing: border-box;
  max-width: 1630px;
  width: 85%;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
}

.nav-logo {
  font-size: 38pt;
  font-weight: bold;
  color: var(--ratgeber-titelfarbe);
}

.nav-item {
  list-style: none;
}
header a {
  text-decoration: none;
}
header {
  border-bottom: 10px solid var(--ratgeber-hellgrau);
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

.navbar ul{
  padding-inline-start: 0;
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: var(--ratgeber-titelfarbe);

}


.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 3rem;
  font-size: 26pt;
}

.nav-item a {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Ubuntu", Helvetica, sans-serif;
  color: var(--ratgeber-titelfarbe);
  cursor: pointer;
}

.navbar img {
  width: auto;
  margin-left: 1rem;
}

.page-container {
  margin: 0;
  padding: 0;
}

.teaser-img {
  width: 100%;
  max-height: 540px;
  object-fit: cover;
  object-position: 10% 10%;
}
.container {
  padding: 5%;
  background-color: var(--ratgeber-container);
  color: var(--ratgeber-titelfarbe);
  margin-top: 3%;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2%;
  width: 100%;
}

.grid-container a {
  text-decoration: none;
  color: var(--ratgeber-titelfarbe);
}

.title {
  font-weight: bold;
  font-size: 38pt;
  width: 100%;
  padding-bottom: 2%;
}

.grid-card {
  display: block;
  width: 400px;
  flex-shrink: 0;
}

.bg-white {
  background-color: #fff;
}

.grid-card p {
  display: block;
  color: #000;
}
.grid-card .link {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
  font-weight: bold;
  color: var(--ratgeber-titelfarbe);
}

.grid-card img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.chat-response {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  border: 1px solid var(--ratgeber-titelfarbe);
  resize: none;
  box-sizing: border-box;
  font-size: 14pt;
  background-color: #fff;
}

.chat-markdown {
  margin: 2%;
}

.input-container {
  margin-top: 1em;
  position: relative;
}

.input-container input {
  width: 100%;
  height: 40px;
  padding: 0 50px 0 10px; /* Platz für den Button rechts */
  font-size: 12pt;
  border: 1px solid var(--ratgeber-titelfarbe);
  box-sizing: border-box;
}

.input-container button img {
  height: 100%;
  width: 100%;
}

.input-container button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.assistant-container {
  background-color: var(--ratgeber-container);
  color: var(--ratgeber-titelfarbe);
  display: block;

}
.assistant-wrapper {
  padding: 5%;
  margin-top: 2%;
}
.grid-card h6, p, h2 {
  margin-block: 0.5em;
}

.button {
  width: 200px;
  height: 50px; /* gleiche Höhe wie das Textfeld */
  font-size: 12pt; /* gleiche Schriftgröße wie das Textfeld */
  background-color: var(--ratgeber-button);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px; /* Innenabstand für den Text und das Pfeilzeichen */
  margin-top: 2%;
}

.button img {
  height: 45px;
  width: auto;
}

.button:hover {
  background-color: var(--ratgeber-hover);
}

.headline {
  display: inline-grid;
  grid-template-columns: 1.25fr 0.75fr;
  margin-bottom: 5%;
}
#headline {
  text-decoration: none;
  color: var(--ratgeber-titelfarbe);
}
.headline-item img {
  width: 100%;
  height: auto;
}
.headline-item p {
  color: #000;
}
.headline-content {
  margin: 0% 5%;
}

.chat-markdown img{
  width: 200px;
  height: auto;
}


.blogArticle {
color: var(--ratgeber-text);
width: 1000px;
padding: 5%;
font-size: 1.4rem;
font-weight: 300;
}


.blog-wrapper {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--ratgeber-container);
  color: var(--ratgeber-text);
  margin-top: 2%;
  padding: 2%;
}

.creator input {
  margin: 1em 0em;
  width: 100%;
  height: 40px;
  padding: 0 50px 0 10px; /* Platz für den Button rechts */
  font-size: 12pt;
  border: 1px soli var(--ratgeber-hellgrau);
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 1px 5px 5px var(--ratgeber-shadow);
}

.creator .button {
  color: #fff;
  background-color: var(--ratgeber-button);
  justify-content: center;
}
.creator a{
  text-decoration: none;
}

.container a {
  text-decoration: none;
}

.headline a {
  color: var(--ratgeber-titelfarbe);
}

.blogArticle img {
  width: 50%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.backend-table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border: 1px solid var(--ratgeber-text);
}
.backend-table th, td {
  border: 1px solid var(--ratgeber-text);
  padding: 1%;
}


@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    width: 100%;
  }

  .nav-menu {
    display: none;
    position: absolute;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.7s;
  }

  .nav-menu.active {
    display: flex;
    left: 0;
  }
  .nav-item {
    margin: 1.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }

  /*end chatgpt header*/


  .title, .blogArticle {
    word-break:break-word;
  }
  .footer {
    display: block;
    text-align: center;
  }
  .footer div{
    margin: 2%;
  }
}

@media only screen and (max-width: 1100px) {
  .grid-card {
    width: 100%;
  }
  .logos {
    display: none;
  }

  .grid-card img {
    width: 100%;
  }

  .grid-container {
    justify-content: center;
  }
  .headline {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .headline-content {
    margin-left: 0%;
    margin-right: 0%;
  }
}


@media only screen and (max-width: 1630px) {
  .grid-card {
    margin-bottom: 5%;
  }
  
}
